<%- include('../partials/header') %>


<a href="/sleepy/new">New Sleepy Time</a>

<table>

    <thead>
        <th>Time Start</th>
        <th>Time End</th>
        <th>Date Submitted</th>
    </thead>

    <tbody>
            <% sleepy.forEach(function(s) { %>
                <tr>
                    <td><%= s.hoursStart %><%= s.night && s.day %></td>
                    <td><%= s.hoursEnd %> <%= s.day && s.night %></td>
                </tr>
            <% }); %>

</table>



<%- include('../partials/footer') %>