<%- include('../partials/header') %>


<a href="/sleepy/new">New Sleepy Time</a>

<table>

    <thead>
        <th>Time Start</th>
        <th>Time End</th>
        <th>Notes</th>
    </thead>

    <tbody>

            <% user.sleepTimes.forEach(function(s) { %>
                <tr>
                    <td><%= s.hoursStart %><%= s.night && s.day %></td>
                    <td><%= s.hoursEnd %> <%= s.day && s.night %></td>
                    <td><a href="/sleepy/notes">New Sleepy Note</a></td>

                    <td>
                        
                        <form action="/sleepy/<%= s._id %>?_method=DELETE" class="delete-form" method="POST">
                            <button type="submit">:c</button>
                        </form>

                    </td>

                </tr>
            <% }); %>

</table>



<%- include('../partials/footer') %>